	*{
		font: 300 13px/18px "Poppins",Helvetica,sans-serif;
		box-sizing: border-box;
	}
	body {
		background: #f7f7f7;
	}
	.full-header{
		background-color: #f12a2a !important;
	}
	.header_logo {
		margin: 25px 0;
	}
	.search_box{
		margin: 25px 0;
	}
	.header-top{
		float: left;
		width: 100%;
		color: #ffffff;
		line-height: 20px;
		height: 40px;
		background: #d9263c;
	}
	.report-service::before{
		background: rgba(0, 0, 0, 0) url(http://localhost/Laravel/upload/images/sprite.png) repeat scroll -38px -487px;
		content: "";
		float: left;
		height: 20px;
		width: 30px;
	}
	.report-service{
		padding: 10px 0px;
	}
	.my_account , .my_account:hover{
		color:#fff;
		text-decoration: none;
	}
	#page .container {
		clear: both;
	}

	.input_Search {
		border-right: none;
	}
	.sl_filter {
		border-left: none;
	}
	.my-group{
		margin: 25px 0;
	}
	.sl_filter:before{
		border-left: 1px solid #e5e5e5;
		content: "";
		height: 25px;
		left: 0;
		position: absolute;
		right: auto;
		top: 6px;
		z-index: 9;
	}
	.ttsupport_img {
		background: rgba(0, 0, 0, 0) url(http://localhost/Laravel/upload/images/sprite.png) repeat scroll -35px -426px;
		float: left;
		height: 42px;
		margin: 0 5px 0 0;
		width: 36px;
	}
	.title-categories-rs:hover{
		cursor: pointer;
	}
	.title-categories-rs{
		padding: 17px 0;
		line-height: 1.2;
		font-size: 13px;
		letter-spacing: 1.5px;
		color: #999;
		margin-top: 0px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.service-content{
		text-transform: capitalize;
		color:#fff;
		margin: 25px 0;
	}
	.service-title ,.service-desc{
		font-size: 14px;

	}
	.banner-top{
		padding :20px 0;
		margin-top: 55px;
	}
	ul.menu-mega{
		list-style: none;
		padding-left: 5px;
	}
	.show-categories{
		display: none;
	}
	.title-categories{
		font: 400 14px/18px "Poppins",sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.content-left{
		background-color: #ffffff;
	}
	.menu-mega li{
		padding:11px 15px;
		border-bottom: 1px dotted #f0f0f0
	}
	.menu-mega li a{
		text-decoration: none;
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 13px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.menu-mega li a:hover{
		text-decoration: none;
		color:red;
		cursor: pointer;
	}
	.free-shipping-icon{
		background: rgba(0, 0, 0, 0) url(upload/images/services-sprite.png) no-repeat scroll -4px -14px;
	}
	.shipping{
		height: 40px;
		width: 100%
	}
	.img-responsive{
		width: 100%;
	}
	.content-center{
		padding-right: 0px;
	}
	.products{
		margin:25px 0;
	}
	.content-products{
		background: #fff;
		padding: 10px;
	}
	.title-products a{
		text-decoration: none;
		color:#666;
		font-size: 14px;
	}
	.title-products{
		padding-bottom: 10px;
	}
	.title-products a:hover{
		color:#090000;
	}
	.price{
		padding-top: 10px;
		border-top: 1px solid #f0f0f0
	}
	.price-new{
		font-size: 16px;
		color: #ed2f2f;
		font-weight: 600;
	}
	.price-old s{
		font-size: 14px;
		color:#b6b6b6;
	}
	.owl-controls{
		display: none;
	}
	.bg-white{
		background-color: #fff;
		padding: 15px;
	}
	.item{
		border: 1px solid #f0f0f0;
		box-shadow: 5px 5px 10px #f0f0f0;
	}
	.box-block{
		margin-bottom: 15px;
	}
	.bg-white h5{
		padding: 0;
		line-height: 1.2;
		font-size: 11px;
		letter-spacing: 1.5px;
		color: #999;
		margin-top: 0px;
		text-transform: uppercase;
	}
	.page_slider{
		position: absolute;
		top:15px;
		right: 15px;
		font-size: 16px;
	}
	.owl-prev:hover , .owl-next:hover{
		cursor: pointer;
	}
	.news-icon{
		position: absolute;
		z-index: 1;
		right: 0;
		background: #73bc28;
		text-transform: uppercase;
		padding: 3px 6px;
		font-size: 10px;
		color: #fff;
	}
	.label-voucher{
		position: absolute;
		right: 10px;
		background-color: rgba(0, 0, 0, 0.55);
		bottom: 140px;
		color: #fff;
		padding: 5px 10px;
	}
	.label-position{
		position: absolute;
		left: 10px;
		background-color: rgba(0, 0, 0, 0.55);
		bottom: 140px;
		color: #fff;
		padding: 5px 10px;
	}
	.timer{
		position: absolute;
		top: 7px;
		right: 7px;
		background-color: rgba(0, 0, 0, 0.55);
		padding: 5px 10px;
		color: #fff;
		z-index: 1;
		display: none;
	}
	.title-products-details{
		padding: 0;
		line-height: 1.2;
		font-size: 16px;
		letter-spacing: 1.5px;
		color: #e63d3d;
		margin-top: 0px;
		text-transform: uppercase;
	}
	.price-details span{
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.price-details{
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.persent_sale{
		color:red;
		font-size: 17px;
	}
	
	.btn_link , .btn_link:hover,.btn_link:focus,.btn_link:active{
		background-color: #ff0000;
		color:#fff;
		border-radius: 0px;
	}
	.description-details{
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;

	}
	.btn_code , .btn_code:active , .btn_code:focus{
		cursor: pointer;
		padding: 6px 10px;
		margin: 5px 0;
		text-transform: uppercase;
		width: auto;
		background-color: red;
		border: none;
		border: 2px dotted white;
		color: #fff;
	}
	.note,.timer_product,.short_description_product{
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		height: auto !important;
		min-height: 30px !important;
	}
	
	.label_note{
		color: #cd5a5a;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.btn_code:hover{
		cursor: pointer;
		padding: 6px 10px;
		margin: 5px 0;
		text-transform: uppercase;
		width: auto;
		background-color: red;
		border: none;
		border: 2px dotted white;
		color: #fff;
	}
	.mgg-code-text {
		background: #e6f4f9;
		border-radius: 6px;
		border: 1px solid #ccc;
		color: #333;
		font-weight: 700;
		padding: 12px;
		left: 74px;
		position: absolute;
	}
	.description-details-content{
		padding: 0;
		line-height: 1.2;
		font-size: 11px;
		letter-spacing: 1.5px;
		color: #999;
		margin-top: 0px;
		text-transform: uppercase;
	}
	.item-cate{
		border: 1px solid #f0f0f0;
		box-shadow: 5px 5px 10px #f0f0f0;
		margin-top: 15px;
	}
	.tech_product div , .tech_product div span{
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 14px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.menu-main{
		margin-top: 10px;
		background-color: #ed1c24;
		max-height: 50px;
		position: static;
		z-index: 999;
		width: 100%;
	}
	.content-height{
		margin-top: 10px;
	}
	ul.main-nav{
		list-style: none;
		padding-left: 0px;
	}
	.main-nav li{
		float: left;
		cursor: pointer;
		padding:15px;
	}
	.main-nav li a{
		color:#fff;
		text-transform: uppercase;
		text-decoration: none;
		font: 400 13px/20px "Poppins",Helvetica,sans-serif !important;
		line-height: 42px;
	}
	.main-nav li.active{
		background-color: #ca181f;
	}
	.main-nav__branding{
		width: 224px;
	}
	.drop-down-cate{
		margin-top: 4px;
	}
	.branding_menu {
		position: absolute;
		margin-left: -15px;
		margin-top: 15px;
		width: 225px;
		display: none; 
		padding: 0;
		background: #fff;
		z-index: 999;
		list-style: none;
	}
	.footer-bottom {
		background: #ed1c24 none repeat scroll 0 0;
		color: #ffffff;
		float: left;
		font-size: 12px;
		width: 100%;
		padding: 7px 0;
	}
	.padding_right_0 {
		padding-right: 0 !important;
	}
	.padding_left_0 {
		padding-left: 0 !important;
	}
	.copyright {
		float: left;
		line-height: 2.2;
	}
	.footer-bottom a {
		color: #fff;
	}
	.follow-us ul {
		margin-bottom: 0;
		margin: 0;
	}
	.follow-us ul li {
		display: inline-block;
		float: none;
		padding: 0 5px 0 0;
	}
	ul li {
		list-style: none;
	}
	.follow-us ul li a {
		background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-khtml-border-radius: 50%;
		color: #ffffff;
		display: inline-block;
		height: 26px;
		line-height: 27px;
		position: relative;
		text-align: center;
		width: 26px;
	}
	.follow-us ul li {
		display: inline-block;
		float: none;
		padding: 0 5px 0 0;
	}
	.follow-us ul li a:hover {
		color: #f12a43;
		background: #fff;
	}

	.branding_menu li a{
		text-decoration: none;
		color: #888888;
		padding: 0 !important;
		line-height: 35px !important;
		font: 400 13px/20px "Poppins",Helvetica,sans-serif !important;
		text-transform: capitalize !important;
		height: auto !important;
		min-height: 30px !important;
	}
	.branding_menu li,.branding_menu li:hover{
		width: 100%;
		border-bottom:1px dotted #eee;
	}
	.branding_menu > .branding_active > a{
		color:red;
	}
	.main-nav>li:hover{
		background-color: #ca181f;
	}
	.header-relative li , .header-relative{
		float: left;
		list-style: none;
		padding: 5px 10px;
	}
	.header_login:hover{
		cursor: pointer;
	}
	.header_login a , .header_register a{
		color:#fff;
		text-decoration: none;
	}
	.header_register{
		margin-right: -15px;
	}
	.header-relative li+li:before{
		padding: 0 5px;
		color: #fff;
		content: "/\00a0";
	}
	.branding_menu li{
		padding: 11px 15px;
	}
	.btn_view{
		color: #ffffff;
		background-color: #73bc28;
		position: absolute;
		left: 32%;
		display: none;
		border-radius: 0px;
		top: 30%;
		border-color: #73bc28;
	}
	.btn_view:hover,.btn_view:focus{
		color: #ffffff;
		background-color: #73bc28;
		position: absolute;
		left: 32%;
		display: block;
		border-radius: 0px;
		top: 30%;
		border-color: #73bc28;
	}
	@media (max-width: 1600px) and (min-width: 1301px){
		.container {
			max-width: 1295px;
			width: 1295px;
		}
	}
	@media (min-width: 992px)
	.container {
		width: 970px;
	}
	@media (min-width: 1200px)
	.container {
		width: 1170px;
	}
	@media (min-width: 992px)
	.container {
		width: 970px;
	}
	@media (min-width: 768px)
	.container {
		width: 750px;
	}
	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
